@page
@model GolfApp.Pages.Rounds.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Round</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Round.RoundId" />
            <div class="form-group">
                <label asp-for="Round.DatePlayed" class="control-label"></label>
                <input asp-for="Round.DatePlayed" class="form-control" />
                <span asp-validation-for="Round.DatePlayed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Round.CourseId" class="control-label"></label>
                <select asp-for="Round.CourseId" class="form-control" asp-items="ViewBag.CourseId"></select>
                <span asp-validation-for="Round.CourseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Round.Score" class="control-label"></label>
                <input asp-for="Round.Score" class="form-control" />
                <span asp-validation-for="Round.Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./IndexRound">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
